<!DOCTYPE html>
<html>
<head>
    <title>Password Reset for {{ site_name }}</title>
</head>
<body>
    <p>Hi {{ user.name|default:user.email }},</p>

    <p>You're receiving this email because you requested a password reset for your account at {{ site_name }}.</p>

    <p>Please click on the following link to reset your password:</p>

    <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

    <p>If you did not request a password reset, please ignore this email.</p>

    <p>Thanks,<br>
    The {{ site_name }} Team</p>
</body>
</html>